img {
  height: 50vh;
  object-fit: cover;
}

.circle {
  background: white;
  border-radius: 50%;
  box-shadow: 0 0 25px white;
  height: 48vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.page {
  height: 100vh;
  color: magenta;
}

.bracket {
  font-size: 60vh;
  margin-bottom: 10vh;
  font-family: arial;
}

body {
  background: black;
}

.hook {
  position: absolute;
  height: 95vh;
  z-index: -1;
  transform: rotate(30deg) scaleX(-1);
  color: magenta;
}

.thread {
  animation: spin 20s ease 20s infinite alternate;
  margin: -1vh;
  z-index: 10;
}

.thread:hover {
  height: 51vh;
  margin: -1.5vh;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}